{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for pet in pets %}
            <div class="col-3">
                <h2 class="display-3"><a href="{{pet.id}}">{{ pet.name }}</a></h2>
                {% if pet.photo_url %}
                    <img class="w-100" src="{{ pet.photo_url }}">
                {% endif %}
                {% if pet.available %}
                    <b>Available</b>
                {% endif %}
            </div>
    
    {% endfor %}
    <div class="col-3"><a href="/add">New pet</a></div>
</div>
{% endblock %}